{% extends "base.njk" %}
{% block main %}

<div id="fullpage">
	<div class="section" id="s1"><h1>Supr.</h1></div>
	<div class="section" id="s2">
		<p>
			The pressur<span>e</span> to appear flawles<span>s</span> is driven by the fear of failur<span>e</span>, but also our desir<span>e</span> to be lov<span>e</span>d and admir<span>e</span>d.
		</p>
		<p>
			Don't strive to be awes<span>o</span>me.
		</p>
	</div>

	<div class="section" id="s3">
		<p>
			Admit your flaw<span>s</span> and mistak<span>e</span>s. Be yours<span>e</span>lf.
		</p>

		<p>
			Be <b id="supr">Supr</b>.
		</p>
	</div>
</div>

<div id="footerSlideContainer">
    <div id="footerSlideButton">get Supr.</div>
	<div id="footerSlideContent">
		<div id="footerSlideText" class="gallery">
			<div>&nbsp;</div>
			<a href="https://www.etsy.com/listing/737369051/suprmug" target="_blank"><img src="/supr-mug.jpg"></a>
			<a href="https://www.etsy.com/listing/723535216/suprposter" target="_blank"><img src="/supr-poster.jpg"></a>
			<a href="https://www.etsy.com/listing/723538434/suprbag" target="_blank"><img src="/supr-bag.jpg"></a>
			<div>&nbsp;</div>
		</div>
	</div>
</div>


{% endblock %}
{% block script %}
<script>
let popupHeight=260;

function popup(elem) {
	var w = window.innerWidth;
	if (w < 700) {
		popupHeight = 150;
	} else if (w < 700) {
		popupHeight = 200;
	}
	else {
		popupHeight = 260;
	}
    var height = 0;
    function frame() {
        height += 10;
        elem.style.height = height + 'px';
        if (height == popupHeight) clearInterval(id);
    }
    var id = setInterval(frame, 10);
}
function popdown(elem) {
    var height = popupHeight;
    function frame() {
        height -= 10
        elem.style.height = height + 'px';
        if (height == 0) clearInterval(id);
    }
    var id = setInterval(frame, 10);
}


ready(() => {
	new fullpage('#fullpage', {
		licenseKey: "OPEN-SOURCE-GPLV3-LICENSE",
		licenseKey: '0C39A97C-ABF04D7A-8564CE11-E3142A4B',
		autoScrolling: true,
		navigation: true,
		navigationPosition: 'right',
		verticalCentered: true,
		anchors: ['', '2', '3'],
		afterLoad: function(origin, destination, direction) {
            const params = {
                origin: origin,
                destination: destination,
                direction: direction
            };
            const anchor = params.destination.anchor;
            if (anchor === "") {
            	addClass(_('#fp-nav'), 'none');
			} else {
				removeClass(_('#fp-nav'), 'none');
			}

            const target = '#s' + destination.anchor + ' span';
            __(target).forEach(el => {
            	addClass(el, 'hidden');
            	var fading = window.setInterval(() => {
            		__(target).forEach(el2 => {
            			addClass(el2, 'none');
            		});
            		window.clearInterval(fading);
            	}, 2000);
            });
            const previousTarget = '#s' + origin.anchor + ' span';
			__(previousTarget).forEach(el => {
				removeClass(el, 'hidden');
				removeClass(el, 'none');
			});
        }
	});

	var open = false;
	const slideButton = _('#footerSlideButton');

	slideButton.onclick = function(e) {
		const footer = _('#footerSlideContent');
		if(open === false) {
			popup(footer);
			open = true;
		} else {
			popdown(footer);
			open = false;
		}
	};

});
</script>
{% endblock %}
