{% extends "base.njk" %}
{% block main %}

<div id="fullpage">
	<div class="section"><h1>Supr.</h1></div>
	<div class="section" id="sp2">
		<p>
			The pressur<span>e</span> to appear flawles<span>s</span> is driven by the fear of failur<span>e</span>, but also our desir<span>e</span> to be lov<span>e</span>d and admir<span>e</span>d.
		</p>
		<p>
			Don't strive to be awes<span>o</span>me.
		</p>
	</div>

	<div class="section" id="sp3">
		<p>
			You don't have to be perfec<span>t</span> to be amazing.
		</p>
		<p>
			Admit your flaw<span>s</span> and mistak<span>e</span>s. Be yours<span>e</span>lf.
		</p>

		<p>
			Be <b id="supr">Supr</b>.
		</p>
	</div>
</div>

Why Supr?

{% endblock %}
{% block script %}
<script>
ready(() => {
	new fullpage('#fullpage', {
		licenseKey: "OPEN-SOURCE-GPLV3-LICENSE",
		licenseKey: '0C39A97C-ABF04D7A-8564CE11-E3142A4B',
		autoScrolling: true,
		navigation: true,
		navigationPosition: 'right',
		verticalCentered: true,
		anchors: ['', 'p2', 'p3'],
		afterLoad: function(origin, destination, direction) {
            const params = {
                origin: origin,
                destination: destination,
                direction: direction
            };
            const target = '#s' + destination.anchor + ' span';
            __(target).forEach(el => {
//            	console.log(target);
            	addClass(el, 'hidden');
            	var fading = window.setInterval(() => {
            		//console.log('DONE');
            		__(target).forEach(el2 => {
            			addClass(el2, 'none');
            		});
            		window.clearInterval(fading);
            	}, 2000);
            });
            const previousTarget = '#s' + origin.anchor + ' span';
			__(previousTarget).forEach(el => {
				removeClass(el, 'hidden');
				removeClass(el, 'none');
			});
        }
	});
});
</script>
{% endblock %}
